<div id="footer" class="wrapper">
  <div class="container">
    <div class="row row-sm-10">
      <div class="col col-xs-12 col-md-3">
        <div class="contact">
          <div class="brand">
            <p class="brand-logo"><a href="https://www.algofi.fr/">Algofi</a></p>
            <p class="brand-slogan">Expert IT &amp; Finance</p>
          </div><!-- .brand -->

          <ul>
            <li>20 Avenue de l'Opéra<br>75001 Paris - FRANCE <br>Tel :<a href="tel:0144502550"> +33 1 44 50 25 50</a></li>
          </ul>

          <ul>
            <li>Via Savona 19/A - 20144 Milano ITALIA</li>

          </ul>

        </div><!-- .contact -->
      </div><!-- .col -->

      <div class="col col-xs-12 col-md-9">
        <div class="sitemap">
          <div class="row row-xs-10">
            <div class="col col-xs-6 col-sm-3">
              <p><a href="https://www.algofi.fr/la-societe/la-direction.html">La société</a></p>

              <ul>
                <li class="first" id="item50">
                  <a href="https://www.algofi.fr/la-societe/la-direction.html">La Direction</a>
                </li>
                <li id="item49">
                  <a href="https://www.algofi.fr/la-societe/qui-sommes-nous.html">Qui sommes-nous ?</a>
                </li>
                <li id="item51">
                  <a href="https://www.algofi.fr/la-societe/nos-valeurs.html">Nos valeurs</a>
                </li>
                <li id="item52">
                  <a href="https://www.algofi.fr/la-societe/chiffres-cles.html">Chiffres clés</a>
                </li>
                <li id="item53">
                  <a href="https://www.algofi.fr/la-societe/rse.html">RSE</a>
                </li>
                <li id="item54">
                  <a href="https://www.algofi.fr/la-societe/nos-references-clients.html">Nos références clients</a>
                </li>
                <li class="last" id="item55">
                  <a href="https://www.algofi.fr/la-societe/algofi-italie.html">Algofi Italie</a>
                </li>
              </ul>
            </div><!-- .col -->

            <div class="col col-xs-6 col-sm-3">
              <p><a href="https://www.algofi.fr/nos-metiers/">Nos métiers</a></p>

              <ul>
                <li class="first" id="item56">
                  <a href="https://www.algofi.fr/nos-metiers/systemes-dinformation.html">Systèmes d'information</a>
                </li>
                <li id="item57">
                  <a href="https://www.algofi.fr/nos-metiers/finance-risques-et-reglementations-bancaires.html">Finance, Risques et Réglementations Bancaires</a>
                </li>
                <li id="item58">
                  <a href="https://www.algofi.fr/nos-metiers/ingenierie-financiere.html">Ingénierie financière</a>
                </li>
                <li id="item59">
                  <a href="https://www.algofi.fr/nos-metiers/progiciels.html">Progiciels</a>
                </li>
                <li id="item60">
                  <a href="https://www.algofi.fr/nos-metiers/offre-operationnels-metier.html">Opérationnels Métier</a>
                </li>
                <li class="last" id="item61">
                  <a href="https://www.algofi.fr/nos-metiers/nos-realisations.html">Nos réalisations</a>
                </li>
              </ul>
            </div><!-- .col -->

            <div class="clearfix visible-xs"></div>

            <div class="col col-xs-6 col-sm-3">
              <p><a href="https://www.algofi.fr/nos-partenaires.html">Nos partenaires</a></p>
              <p><a href="https://www.algofi.fr/carrieres/">Carrières</a></p>

              <ul>
                <li class="first" id="item69">
                  <a href="https://www.algofi.fr/carrieres/offres/">Offres de postes</a>
                </li>
                <li id="item62">
                  <a href="https://www.algofi.fr/carrieres/processus-de-recrutement.html">Processus de recrutement</a>
                </li>
                <li id="item64">
                  <a href="https://www.algofi.fr/carrieres/la-vie-chez-algofi.html">La vie chez Algofi</a>
                </li>
                <li id="item66">
                  <a href="https://www.algofi.fr/carrieres/profils-recherches/">Profils recherchés</a>
                </li>
                <li id="item67">
                  <a href="https://www.algofi.fr/carrieres/candidature-spontanee.html">Candidature spontanée</a>
                </li>
                <li class="last" id="item68">
                  <a href="https://www.algofi.fr/carrieres/temoignages/">Témoignages</a>
                </li>
              </ul>
            </div><!-- .col -->

            <div class="col col-xs-6 col-sm-3">
              <p><a href="https://www.algofi.fr/communication/">Communication</a></p>

              <ul class="nav navbar-social">
                <li class="first" id="item31">
                  <a href="https://www.linkedin.com/company/algofi/?originalSubdomain=fr" target="_blank">Linkedin</a>
                </li>
              </ul>
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .sitemap -->
      </div><!-- .col -->
    </div><!-- .row -->

    <ul class="nav navbar-inline">
      <li class="first" id="item39">
        <a href="https://www.algofi.fr/politique-des-cookies.html" class="noCookie">Politique des cookies</a>
      </li>
      <li id="item65">
        <a href="https://www.algofi.fr/mentions-legales.html">Mentions légales</a>
      </li>
      <li class="last" id="item81">
        <a href="https://www.algofi.fr/contact.html">Contact</a>
      </li>
    </ul>
  </div><!-- .container -->
</div><!-- #footer -->
