body {
  font-family: 'Open Sans', sans-serif;
  color: #868686;
  background: #2a2a2a;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font: 600 35px/1.2 'BrandonText', sans-serif;
  font-size: 3.5rem;
  color: #b4242f;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font: 600 23px/1.4 'BrandonText', sans-serif;
  font-size: 2.3rem;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 600;
  color: #b4242f;
}

h5 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 600;
  color: #1c1c1c;
}

  h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
  }

  h2:last-child, h3:last-child, h4:last-child, h5:last-child {
    margin-bottom: 0;
  }

p {
  margin-bottom: 0.5em;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

  p:last-child {
    margin-bottom: 0;
  }

ul, ol {
  margin-bottom: 0.5em;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  list-style: none;
}

  ul:last-child, ol:last-child {
    margin-bottom: 0;
  }

  ul > li {
    padding-left: 16px;
  }

    ul > li:before {
      float: left;
      margin: 9px 0 0 -15px;
      width: 5px;
      height: 5px;
      content: "";
      background: #b4242f;
    }

ol {
  counter-reset: ol;
}

  ol > li {
    padding-left: 25px;
    counter-increment: ol;
  }

    ol > li:before {
      float: left;
      margin: 0 0 0 -25px;
      font-weight: bold;
      content: counter(ol) ".";
      color: #b4242f;
    }

#footer {
  padding: 40px 0;
  color: #868686;
  background: #2a2a2a;
}

  #footer a {
    text-decoration: none;
  }

    #footer a:hover,
    #footer a:focus {
      color: #fff;
    }

  #footer .brand {
    margin-bottom: 20px;
  }
  ::marker{
     visibility:hidden;
  }
  #footer p,
  #footer ul {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.4;
  }

    #footer ul > li {
      padding-left: 14px;
    }

      #footer ul > li:before {
        float: left;
        margin: 8px 0 0 -14px;
        width: 4px;
        height: 4px;
        content: "";
        background: currentColor;
      }

  #footer .sitemap {
    padding-top: 10px;
  }

    #footer .sitemap p {
      font-weight: bold;
      text-transform: uppercase;
    }

  #footer .nav > li {
    padding: 0;
  }

    #footer .nav > li:before {
      content: none;
    }

  #footer .navbar-social {
    margin-top: 10px;
    font-size: 0;
    line-height: 0;
  }

    #footer .navbar-social > li {
      display: inline-block;
      margin-right: 20px;
    }

      #footer .navbar-social > li > a {
        display: block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        font-size: 20px;
        text-indent: -999em;
        x² text-align: left;
        background: url('https://www.algofi.fr/assets/templates/meridian/images/social-icons.png') no-repeat 0 0;
      }

      #footer .navbar-social > li > a {
        -webkit-background-size: 40px auto;
        -moz-background-size: 40px auto;
        background-size: 40px auto;
      }

      .nav > li > a {
        padding: 0;
      }
        #footer .navbar-social > li > a:hover,
        #footer .navbar-social > li > a:focus {
          background-position-x: 100%;
        }

      #footer .navbar-social > li#item31 > a,
      #footer .navbar-social > li#item198 > a,
      #footer .navbar-social > li#item285 > a {
        background-position-y: -2em;
      }

  #footer .navbar-inline {
    margin-top: 50px;
    text-align: center;
  }

    #footer .navbar-inline > li {
      display: inline-block;
      margin: 0 7px;
      padding: 0;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1.4;
    }


.brand {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.brand-logo {
  display: inline-block !important;
  top: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top !important;
}

  .brand-logo a {
    display: block !important;
    width: 178px !important;
    height: 53px !important;
    overflow: hidden !important;
    text-indent: -999em !important;
    text-align: left !important;
    background: url('https://www.algofi.fr/assets/templates/meridian/images/logo-algofi.png') no-repeat 0 0 !important;
  }

  .brand-logo a {
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    background-size: contain !important;
  }

.brand-slogan {
  margin: 7px 0 -2px !important;
  font-size: 18px !important;
  line-height: 1 !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  color: #b4242f !important;
}

#footer .sitemap .row > .col ~ .col ~ .col {
  margin-top: 20px;
}

@media only screen and (max-width : 480px) {
  #footer .brand {
    display: block;
    margin: 0 0 20px;
  }

  #footer .sitemap .row > .col {
    width: 100%;
  }

    #footer .sitemap .row > .col ~ .col {
      margin-top: 20px;
    }
}
