/* CSS Document by Black meridian */

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   global                                       <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  color: #868686;
  background: #2a2a2a;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font: 600 35px/1.2 'BrandonText', sans-serif;
  font-size: 3.5rem;
  color: #b4242f;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font: 600 23px/1.4 'BrandonText', sans-serif;
  font-size: 2.3rem;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 600;
  color: #b4242f;
}

h5 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 600;
  color: #1c1c1c;
}

  h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
  }

  h2:last-child, h3:last-child, h4:last-child, h5:last-child {
    margin-bottom: 0;
  }

p {
  margin-bottom: 0.5em;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

  p:last-child {
    margin-bottom: 0;
  }

ul, ol {
  margin-bottom: 0.5em;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

  ul:last-child, ol:last-child {
    margin-bottom: 0;
  }

  ul > li {
    padding-left: 16px;
  }

    ul > li:before {
      float: left;
      margin: 9px 0 0 -15px;
      width: 5px;
      height: 5px;
      content: "";
      background: #b4242f;
    }

ol {
  counter-reset: ol;
}

  ol > li {
    padding-left: 25px;
    counter-increment: ol;
  }

    ol > li:before {
      float: left;
      margin: 0 0 0 -25px;
      font-weight: bold;
      content: counter(ol) ".";
      color: #b4242f;
    }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   header                                       <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

#header {
  position: relative;
  z-index: 100;
  color: #989898;
  background: #1c1c1c;
}

  #header .container {
    display: table;
  }

    #header .container:before,
    #header .container:after {
      content: none;
    }

    #header .container > div {
      display: table-cell;
      vertical-align: bottom;
    }

  #header .brand {
    padding: 20px 20px 15px 0;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   navbar                                       <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

#navbar {
  font-size: 0;
  line-height: 0;
  text-align: right;
}
#navbar a {
  color: red;
}
  #navbar > .nav {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    text-align: left;
  }

    #navbar > .nav:before,
    #navbar > .nav:after {
      content: none;
    }

    #navbar > .nav > li {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      white-space: normal;
    }

      #navbar > .nav > li:before {
        content: none;
      }

      #navbar > .nav > li > a {
        display: block;
        font-size: 12px;
        line-height: 1.4;
        text-transform: uppercase;
        white-space: nowrap;
      }

        #navbar > .nav > li > a:hover,
        #navbar > .nav > li > a:focus {
          color: #fff;
        }

      #navbar > .nav > li#item48 > .navbar-toggle,
      #navbar > .nav > li#item48 > .navbar-collapse,
      #navbar > .nav > li#item189 > .navbar-toggle,
      #navbar > .nav > li#item189 > .navbar-collapse,
      #navbar > .nav > li#item276 > .navbar-toggle,
      #navbar > .nav > li#item276 > .navbar-collapse {
        display: none !important;
      }


  #navbar > .navbar-nav {
    margin-right: 10px;
  }

    #navbar > .navbar-nav > li > a {
      display: table-cell;
      padding: 0 20px;
      height: 111px;
      vertical-align: middle;
      font-weight: bold;
    }

    #navbar > .navbar-nav > li.active > a {
      color: #fff;
    }

    #navbar > .navbar-nav > li:hover > .navbar-collapse > .nav,
    #navbar > .navbar-nav > li > a:hover + .navbar-collapse > .nav,
    #navbar > .navbar-nav > li > a:focus + .navbar-collapse > .nav {
      display: block;
    }

    #navbar > .navbar-nav > li > .navbar-collapse > .nav {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: -6px;
      padding: 8px 0;
      width: 180px;
      border-top: 6px solid #b4242f;
      color: #000;
      background: #ebebeb;
    }

      #navbar > .navbar-nav > li > .navbar-collapse > .nav > li > a {
        display: block;
        padding: 8px 20px;
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: 600;
        text-transform: uppercase;
      }

        #navbar > .navbar-nav > li > .navbar-collapse > .nav > li.active > a,
        #navbar > .navbar-nav > li > .navbar-collapse > .nav > li > a:hover,
        #navbar > .navbar-nav > li > .navbar-collapse > .nav > li > a:focus {
          color: #b4232f;
        }

  #navbar > .navbar-lang {
    margin: 0 -5px;
  }

    #navbar > .navbar-lang > li {
      border-right: 1px solid transparent;
    }

      #navbar > .navbar-lang > li:after {
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -4.5px;
        width: 1px;
        height: 9px;
        content: "";
        background: #989898;
      }

      #navbar > .navbar-lang > li:last-child {
        border-right: 0;
      }

        #navbar > .navbar-lang > li:last-child:after {
          content: none;
        }

      #navbar > .navbar-lang > li > a {
        padding: 5px;
      }

      #navbar > .navbar-lang > li.active > a {
        font-weight: bold;
      }

  #navbar > .dropdown-lang {
    display: inline-block;
    top: -0.5px;
    margin: 0 -5px;
    vertical-align: middle;
  }

    #navbar > .dropdown-lang button {
      display: inline-block;
      margin: 0;
      padding: 5px;
      border: 0;
      font-size: 12px;
      line-height: 1.4;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      color: #b4242f;
      background: none;
    }

    #navbar > .dropdown-lang .dropdown-menu {
      left: auto;
      right: 0;
      padding: 4px 0;
      border: 0;
      min-width: 0;
    }

    #navbar > .dropdown-lang .dropdown-menu {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

      #navbar > .dropdown-lang .dropdown-menu a {
        display: block;
        padding: 4px 10px;
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
      }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   footer                                       <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

#footer {
  padding: 40px 0;
  color: #868686;
  background: #2a2a2a;
}

  #footer a {
    text-decoration: none;
  }

    #footer a:hover,
    #footer a:focus {
      color: #fff;
    }

  #footer .brand {
    margin-bottom: 20px;
  }

  #footer p,
  #footer ul {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.4;
  }

    #footer ul > li {
      padding-left: 14px;
    }

      #footer ul > li:before {
        float: left;
        margin: 8px 0 0 -14px;
        width: 4px;
        height: 4px;
        content: "";
        background: currentColor;
      }

  #footer .sitemap {
    padding-top: 10px;
  }

    #footer .sitemap p {
      font-weight: bold;
      text-transform: uppercase;
    }

  #footer .nav > li {
    padding: 0;
  }

    #footer .nav > li:before {
      content: none;
    }

  #footer .navbar-social {
    margin-top: 10px;
    font-size: 0;
    line-height: 0;
  }

    #footer .navbar-social > li {
      display: inline-block;
      margin-right: 20px;
    }

      #footer .navbar-social > li > a {
        display: block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        font-size: 20px;
        text-indent: -999em;
        text-align: left;
        background: url('https://www.algofi.fr/assets/templates/meridian/images/social-icons.png') no-repeat 0 0;
      }

      #footer .navbar-social > li > a {
        -webkit-background-size: 40px auto;
        -moz-background-size: 40px auto;
        background-size: 40px auto;
      }

        #footer .navbar-social > li > a:hover,
        #footer .navbar-social > li > a:focus {
          background-position-x: 100%;
        }

      #footer .navbar-social > li#item31 > a,
      #footer .navbar-social > li#item198 > a,
      #footer .navbar-social > li#item285 > a {
        background-position-y: -2em;
      }

  #footer .navbar-inline {
    margin-top: 50px;
    text-align: center;
  }

    #footer .navbar-inline > li {
      display: inline-block;
      margin: 0 7px;
      padding: 0;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1.4;
    }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   maincontent                                  <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

#maincontent {
  color: #2a2a2a;
  background: #f8f8f8;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   brand                                        <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.brand {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.brand-logo {
  display: inline-block !important;
  top: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top !important;
}

  .brand-logo a {
    display: block !important;
    width: 178px !important;
    height: 53px !important;
    overflow: hidden !important;
    text-indent: -999em !important;
    text-align: left !important;
    background: url('https://www.algofi.fr/assets/templates/meridian/images/logo-algofi.png') no-repeat 0 0 !important;
  }

  .brand-logo a {
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    background-size: contain !important;
  }

.brand-slogan {
  margin: 7px 0 -2px !important;
  font-size: 18px !important;
  line-height: 1 !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  color: #b4242f !important;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   button                                       <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.button {
  margin: 25px 0;
  text-align: center;
}

  .button:first-child {
    margin-top: 0 !important;
  }

  .button:last-child {
    margin-bottom: 0 !important;
  }

.btn {
  display: inline-block;
  margin: 0;
  padding: 4px 35px 6px;
  border: 0;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-decoration: none !important;
  color: #999 !important;
  background: #242424;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

  .btn:hover,
  .btn:focus {
    color: #fff !important;
  }

  .btn.btn-big {
    padding: 11px 50px 12px;
    font: 23px/1.4 'BrandonText', sans-serif;
    font-size: 2.3rem;
    color: #fff !important;
    background: #08426a;
  }

    .btn.btn-big:hover,
    .btn.btn-big:focus {
      background: #2b5c80;
    }

    .btn.btn-big.arrow-right:after {
      display: inline-block;
      position: relative;
      top: 8px;
      margin: 0 -20px 0 30px;
      width: 11px;
      height: 19px;
      vertical-align: top;
      content: "";
      font-size: 19px;
      background: url('https://www.algofi.fr/assets/templates/meridian/images/icon-arrow.png') no-repeat 100% -3em;
    }

    .btn.btn-big.arrow-right:after {
      -webkit-background-size: 22px auto;
      -moz-background-size: 22px auto;
      background-size: 22px auto;
    }

.btn-side {
  position: fixed;
  z-index: 500;
  right: -1px;
  top: 320px;
  padding: 9px 30px 14px;
  border: 1px solid #f8f8f8;
  font: 23px/1.4 'BrandonText', sans-serif !important;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #fff !important;
  background: #b4242f !important;
}

.btn-side {
  -webkit-transform: rotate(90deg) translateX(100%);
  -moz-transform: rotate(90deg) translateX(100%);
  transform: rotate(90deg) translateX(100%);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 14px rgba(0,0,0,0.4);
  box-shadow: 0 0 14px rgba(0,0,0,0.4);
}

  .btn-side:hover,
  .btn-side:focus {
    background: #d31523 !important;
  }

  .btn-side:before,
  .btn-side:after {
    display: inline-block;
    margin-top: -8px;
    vertical-align: middle;
    width: 14px;
    height: 13px;
    content: "";
    background: url('https://www.algofi.fr/assets/templates/meridian/images/btn-side-plus.png') no-repeat 0 0;
  }

  .btn-side:before,
  .btn-side:after {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }

  .btn-side:before {
    margin-right: 20px;
  }

  .btn-side:after {
    margin-left: 20px;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   hgroup                                       <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.hgroup {
  margin: 130px 0 55px;
  overflow: hidden;
  text-align: center;
}

  .hgroup:first-child {
    margin-top: 0;
  }

  .hgroup .title {
    display: inline-block;
    position: relative;
    top: auto;
    margin: 0 0 5px;
    vertical-align: top;
    font: 600 35px/1.2 'BrandonText', sans-serif;
    font-size: 3.5rem;
    text-transform: none;
    color: #b4242f;
  }

    .hgroup .title:last-child {
      margin-bottom: 0;
    }

    .hgroup .title:before,
    .hgroup .title:after {
      position: absolute;
      bottom: 10px;
      width: 9999px;
      height: 1px;
      content: "";
      background: currentColor;
    }

    .hgroup .title:before {
      right: 100%;
      margin-right: 40px;
    }

    .hgroup .title:after {
      left: 100%;
      margin-left: 40px;
    }

  .hgroup p {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
    color: #999;
  }

    .hgroup p a {
      text-decoration: none;
    }

      .hgroup p a:hover,
      .hgroup p a:focus {
        text-decoration: underline;
        color: #2a2a2a;
      }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   form                                         <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.form-group {
  margin-bottom: 35px;
}

.control-label {
  margin-bottom: 0.5em;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

.form-control {
  padding: 9px 15px 11px;
  border: 2px solid #edecf1;
  height: 45px;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: bold;
  color: #858585;
}

.form-control {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

  .form-control:focus {
    border-color: #ccc;
    color: #2a2a2a;
  }

  .form-control[type="file"] {
    height: auto;
    font-weight: normal;
    text-transform: none;
  }

textarea.form-control {
  height: 180px;
}

label.error {
  display: block;
  margin-top: 0.8em;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: right;
  color: #b4242f;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   bxslider                                     <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.bx-wrapper {
  position: relative;
}

.bx-prev,
.bx-next {
  position: absolute;
  z-index: 200;
  top: 50%;
  margin-top: -9.5px;
  width: 11px;
  height: 19px;
  overflow: hidden;
  text-indent: -999em;
  text-align: left;
  background: url('https://www.algofi.fr/assets/templates/meridian/images/icon-arrow.png') no-repeat;
}

.bx-prev,
.bx-next {
  -webkit-background-size: 22px auto;
  -moz-background-size: 22px auto;
  background-size: 22px auto;
}

.bx-prev {
  left: 0;
  background-position: 0 0;
}

.bx-next {
  right: 0;
  background-position: 100% 0;
}

  .bx-prev:hover,
  .bx-next:hover {
    background-position-y: -19px;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   markdown                                     <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.markdown p img {
  float: left;
  margin: 0 35px 10px 0;
}

.markdown hr {
  margin: 0;
  border: 0;
  clear: both;
}

#id49 .markdown p img {
  display: block;
  float: none;
  margin: 120px auto 0;
}

.markdown h4 + hr + p {
  display: flex;
  margin: 0 -10px;
  text-align: center;
  flex-wrap: wrap;
}

  .markdown h4 + hr + p em {
    display: inline-block;
    padding: 20px;
    border: 10px solid transparent;
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
    vertical-align: middle;
    background: #fff;
    background-clip: padding-box;
  }

  .markdown h4 + hr + p img {
    float: none;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   wrapper                                      <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.wrapper {
  position: relative;
  padding: 90px 0;
  color: #2a2a2a;
  background: #f8f8f8 no-repeat 50% 50%;
}

.wrapper {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

  .wrapper.bg-grey {
    color: #2a2a2a;
    background-color: #f8f8f8;
  }

  .wrapper.bg-white {
    color: #2a2a2a;
    background-color: #fff;
  }

  .wrapper.bg-red {
    color: #fff;
    background-color: #b4242f;
  }

    .wrapper.bg-red h4,
    .wrapper.bg-red h5,
    .wrapper.bg-red .hgroup .title {
      color: inherit;
    }

  /* ------------------------------------------------------------------------- */
  /* >>>>>>>>>>>>>   wrapper-slider                               <<<<<<<<<<<< */
  /* ------------------------------------------------------------------------- */

  .wrapper.wrapper-slider {
    padding: 0;
    overflow: hidden;
  }

    .wrapper.wrapper-slider .migx_slide {
      color: #f2f2f2;
      background: #1c394c url('https://www.algofi.fr/assets/templates/meridian/images/wrapper-slider-bg.jpg') no-repeat 50% 50%;
    }

    .wrapper.wrapper-slider .migx_slide {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }

      .wrapper.wrapper-slider .migx_slide + .migx_slide {
        position: absolute;
        top: 100%;
      }

      .wrapper.wrapper-slider .migx_slide .container {
        display: table;
        padding: 20px 100px 20px 150px;
      }

      .wrapper.wrapper-slider .migx_slide .inner {
        display: table-cell;
        height: 330px;
        vertical-align: middle;
      }

      .wrapper.wrapper-slider .migx_slide .title {
        top: auto;
        margin: 0 0 15px;
        font: 300 35px/1.2 'BrandonText', sans-serif;
        font-size: 3.5rem;
        text-transform: uppercase;
        color: inherit;
      }

      .wrapper.wrapper-slider .migx_slide .text p,
      .wrapper.wrapper-slider .migx_slide .text ul {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.9;
      }

    .wrapper.wrapper-slider .bx-wrapper .migx_slide {
      top: auto;
    }

    .wrapper.wrapper-slider .bx-pagerSelector {
      position: static;
    }

    .wrapper.wrapper-slider .bx-pager {
      position: absolute;
      z-index: 200;
      top: 50%;
      margin-left: 80px;
    }

    .wrapper.wrapper-slider .bx-pager {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .wrapper.wrapper-slider .bx-pager-item + .bx-pager-item {
      margin-top: 15px;
    }

    .wrapper.wrapper-slider .bx-pager-link {
      display: block;
      width: 12px;
      height: 12px;
      overflow: hidden;
      text-indent: -999em;
      background: #c5c8cc;
    }

    .wrapper.wrapper-slider .bx-pager-link {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

      .wrapper.wrapper-slider .bx-pager-link.active,
      .wrapper.wrapper-slider .bx-pager-link:hover,
      .wrapper.wrapper-slider .bx-pager-link:focus {
        background: #b6222a;
      }

  /* ------------------------------------------------------------------------- */
  /* >>>>>>>>>>>>>   wrapper-slider                               <<<<<<<<<<<< */
  /* ------------------------------------------------------------------------- */

  .wrapper.wrapper-intro .aside_icones {
    margin-bottom: 120px;
  }

.aside_icones {
  margin: 60px 0;
}

  .aside_icones:first-child {
    margin-top: 0;
  }

  .aside_icones:last-child {
    margin-bottom: 0;
  }

  .aside_icones .content {
    margin: -30px -60px;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

.migx_icone {
  display: inline-block;
  margin: 30px 60px;
  vertical-align: top;
  width: 160px;
  text-align: center;
}

  .migx_icone .illustration {
    margin-bottom: 30px;
  }

    .migx_icone .illustration:after {
      display: block;
      margin: 30px auto 0;
      width: 70px;
      height: 1px;
      content: "";
      background: #b4242f;
    }

    .migx_icone .illustration img {
      background: #b6222a;
    }

    .migx_icone .illustration img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

  .migx_icone .title {
    top: auto;
    margin: 0 0 5px;
    font: 300 40px/0.75 'BrandonText', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: #b4242f;
  }

  .migx_icone p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   wrapper-intro                                <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.wrapper.wrapper-intro .aside_mea .illustration img {
  width: 100%;
}

.wrapper.wrapper-intro .aside_mea .illustration + .text {
  margin-top: -30px;
}

.wrapper.wrapper-intro .aside_mea .text {
  position: relative;
  margin: 0 15%;
  padding: 13px 15px;
  text-align: center;
  color: #fff;
  background: #08426a;
}

  .wrapper.wrapper-intro .aside_mea .text p {
    margin: 0;
    font: 600 25px/1.2 'BrandonText', sans-serif;
    font-size: 2.5rem;
  }

.wrapper.wrapper-intro .aside_mea.hover .text,
.wrapper.wrapper-intro .aside_mea.focus .text {
  background: #2b5c80;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   wrapper-partenaires                          <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.wrapper.wrapper-partenaires .content {
  margin: -15px 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.wrapper.wrapper-partenaires .diaporama-slider {
  padding: 0 61px;
}

.wrapper.wrapper-partenaires .bx-wrapper {
  padding: 0 61px;
}

  .wrapper.wrapper-partenaires .bx-wrapper .diaporama-slider {
    padding: 0;
  }

.wrapper.wrapper-partenaires .migx_partenaire {
  display: inline-block;
  padding: 15px 0;
  width: 16.6666%;
  vertical-align: middle;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   wrapper-offres                               <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.wrapper.wrapper-offres {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   wrapper-bandeau                              <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.wrapper.wrapper-bandeau {
  padding: 50px 0 70px;
  color: #fff;
  background-color: #2a2a2a;
}

  .wrapper.wrapper-bandeau .container {
    display: table;
    height: 150px;
    text-align: center;
  }

  .wrapper.wrapper-bandeau .content {
    display: table-cell;
    vertical-align: bottom;
  }

  .wrapper.wrapper-bandeau .title {
    top: auto;
    margin: 0;
    font: 300 60px/0.8 'BrandonText', sans-serif;
    text-transform: uppercase;
    color: inherit;
  }

    .wrapper.wrapper-bandeau .title:last-child {
      margin-bottom: 0.6em;
    }

  .wrapper.wrapper-bandeau + #maincontent > .wrapper:first-child:before,
  .wrapper.wrapper-bandeau + #maincontent > .wrapper:first-child:after {
    position: absolute;
    bottom: 100%;
    margin-bottom: -1px;
    border-bottom: 24px solid #f8f8f8;
    width: 5000px;
    content: "";
  }

  .wrapper.wrapper-bandeau + #maincontent > .wrapper:first-child:before {
    right: 50%;
    margin-right: -1px;
    border-right: 40px solid transparent;
  }

  .wrapper.wrapper-bandeau + #maincontent > .wrapper:first-child:after {
    left: 50%;
    margin-left: -1px;
    border-left: 40px solid transparent;
  }

  .wrapper.wrapper-bandeau + #maincontent > .wrapper.bg-grey:first-child:before,
  .wrapper.wrapper-bandeau + #maincontent > .wrapper.bg-grey:first-child:after {
    border-bottom-color: #f8f8f8;
  }

  .wrapper.wrapper-bandeau + #maincontent > .wrapper.bg-white:first-child:before,
  .wrapper.wrapper-bandeau + #maincontent > .wrapper.bg-white:first-child:after {
    border-bottom-color: #fff;
  }

  .wrapper.wrapper-bandeau + #maincontent > .wrapper.bg-red:first-child:before,
  .wrapper.wrapper-bandeau + #maincontent > .wrapper.bg-red:first-child:after {
    border-bottom-color: #b4242f;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   breadcrumbs                                  <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.B_crumbBox {
  margin-top: 1em;
  font-size: 14px;
  font-size: 1.4rem;
}

  .B_crumbBox > li {
    display: inline;
    margin: 0 7px;
    padding: 0;
  }

    .B_crumbBox > li:before {
      content: none;
    }

    .B_crumbBox > li > a {
      text-decoration: none;
    }

      .B_crumbBox > li > a:hover,
      .B_crumbBox > li > a:focus {
        text-decoration: underline;
      }

      .B_crumbBox > li > a.B_currentCrumb {
        font-weight: bold;
      }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   criteres                                     <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.criteres {
  font-size: 0;
  line-height: 0;
  color: #858585;
}

  .criteres > li {
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0 0 0 30px;
    vertical-align: top;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

    .criteres > li:last-child {
      margin-right: 0;
    }

    .criteres > li:before {
      float: left;
      margin: 0 0 0 -30px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      background: url('https://www.algofi.fr/assets/templates/meridian/images/icon-offre.png') no-repeat -20px 0;
    }

    .criteres > li:before {
      -webkit-background-size: 60px auto;
      -moz-background-size: 60px auto;
      background-size: 60px auto;
    }

    .criteres > li.contrat:before {
      background-position-y: 0;
    }

    .criteres > li.disponibilite:before {
      background-position-y: -1em;
    }

    .criteres > li.lieu:before {
      background-position-y: -2em;
    }

    .criteres > li.experience:before {
      background-position-y: -3em;
    }

    .criteres > li.salaire:before {
      background-position-y: -4em;
    }

    .criteres > li.categorie:before {
      background-position-y: -5em;
    }

    .criteres > li a {
      text-decoration: none;
    }

      .criteres > li a:hover,
      .criteres > li a:focus {
        text-decoration: underline;
      }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   search-filter                                <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.references {
  margin: 17px 0 50px;
  padding: 17px 0 16px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  font-size: 0;
  line-height: 0;
  color: #858585;
}

  .references:first-child {
    margin-top: 0;
  }

  .references:last-child {
    margin-bottom: 0;
  }

  .references > li {
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0;
    vertical-align: top;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.4;
  }

    .references > li:before {
      content: none;
    }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   search-filter                                <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.search-filter {
  display: table;
  margin-bottom: 70px;
  width: 100%;
}

  .search-filter .filter {
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
  }

  .search-filter .form-group {
    margin: 0;
  }

  .search-filter .control-label {
    float: left;
    margin: 0 15px 0 0;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: bold;
    color: #000;
  }

  .search-filter .form-control {
    padding: 4px 10px 6px;
    height: 32px;
    font-size: 11px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .search-filter .input-group {
    display: block;
    overflow: hidden;
  }

  .search-filter .input-group-addon {
    position: absolute;
    z-index: 10;
    left: 12px;
    top: 2px;
    bottom: 2px;
    margin: 0;
    padding: 4px 0px;
    border: 0;
    width: 15px;
    text-align: center;
    background: none;
  }

    .search-filter .input-group-addon:before {
      display: inline-block;
      width: 20px;
      height: 20px;
      content: "";
      font-size: 20px;
      background: url('https://www.algofi.fr/assets/templates/meridian/images/icon-offre.png') no-repeat 0 0;
    }

    .search-filter .input-group-addon:before {
      -webkit-background-size: 60px auto;
      -moz-background-size: 60px auto;
      background-size: 60px auto;
    }

    .search-filter .input-group-addon.contrat:before {
      background-position-y: 0;
    }

    .search-filter .input-group-addon.disponibilite:before {
      background-position-y: -1em;
    }

    .search-filter .input-group-addon.lieu:before {
      background-position-y: -2em;
    }

    .search-filter .input-group-addon.experience:before {
      background-position-y: -3em;
    }

    .search-filter .input-group-addon.salaire:before {
      background-position-y: -4em;
    }

    .search-filter .input-group-addon.categorie:before {
      background-position-y: -5em;
    }

  .search-filter .form-control {
    display: block;
    float: none;
    text-indent: 25px;
  }

  .search-filter .form-actions {
    display: table-cell;
    padding: 1px 0 1px 30px;
    vertical-align: bottom;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   migx_offre                                   <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.migx_offre {
  position: relative;
  padding: 15px 70px 15px 40px;
  border-bottom: 1px solid #d4d4d4;
}

  .migx_offre p {
    font-weight: bold;
    color: #08426a;
  }

    .migx_offre p .date {
      font-size: 80%;
    }

  .migx_offre .overlay:before {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -9.5px;
    width: 11px;
    height: 19px;
    content: "";
    font-size: 19px;
    background: url('https://www.algofi.fr/assets/templates/meridian/images/icon-arrow.png') no-repeat 100% -2em;
  }

  .migx_offre .overlay:before {
    -webkit-background-size: 22px auto;
    -moz-background-size: 22px auto;
    background-size: 22px auto;
  }

  .migx_offre:hover,
  .migx_offre.hover,
  .migx_offre.focus {
    color: #fff;
    background: #08426a !important;
  }

    .migx_offre:hover p,
    .migx_offre.hover p,
    .migx_offre.focus p,
    .migx_offre:hover .criteres,
    .migx_offre.hover .criteres,
    .migx_offre.focus .criteres {
      color: inherit;
    }

      .migx_offre:hover .criteres > li:before,
      .migx_offre.hover .criteres > li:before,
      .migx_offre.focus .criteres > li:before {
        background-position-x: -40px;
      }

    .migx_offre:hover .overlay:before,
    .migx_offre.hover .overlay:before,
    .migx_offre.focus .overlay:before {
      background-position-y: -3em;
    }

  .migx_offre.migx_derniere-offre {
    margin-bottom: 7px;
    padding: 10px 41px 10px 15px;
    border-bottom: 0;
    background: #fff;
  }

    .migx_offre.migx_derniere-offre .overlay:before {
      right: 15px;
    }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   page offre                                   <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.aside h3 {
  margin-bottom: 1em;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #b6222a;
}

.aside .button {
  margin: 7px 0;
}

.aside .btn {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   page offre                                   <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.template10 .wrapper-article .markdown {
  margin-bottom: 70px;
}

  .template10 .wrapper-article .markdown h3 {
    margin: 5em 0 1em;
    font-family: inherit;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #000;
  }

    .template10 .wrapper-article .markdown h3:first-child {
      margin-top: 0;
    }

    .template10 .wrapper-article .markdown h3:after {
      display: block;
      margin-top: 0.5em;
      width: 80px;
      height: 2px;
      content: "";
      background: #b6222a;
    }

  .template10 .wrapper-article .markdown + .button {
    margin-bottom: 0;
  }

.template10 .wrapper-article .btn.btn-big[data-toggle] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
}

  .template10 .wrapper-article .btn.btn-big[data-toggle].arrow-right:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }

.template10 .wrapper-article .btn.btn-big[aria-expanded="true"] {
  background: #858585;
}

  .template10 .wrapper-article .btn.btn-big[aria-expanded="true"].arrow-right:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .template10 .wrapper-article .btn.btn-big[aria-expanded="true"]:hover,
  .template10 .wrapper-article .btn.btn-big[aria-expanded="true"]:focus {
    background: #2b5c80;
  }

.template10 .wrapper-article .print {
  float: right;
  margin: 16px 0 0 35px;
}

.template10 .wrapper-article .references {
  overflow: hidden;
}

.template10 .wrapper-article .form-actions {
  margin-top: 45px;
}

  .template10 .wrapper-article .form-actions .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
  }

    .template10 .wrapper-article .form-actions .btn + .btn {
      margin-top: 10px;
    }

.print {
  display: inline-block;
  vertical-align: bottom;
  width: 53px;
  height: 53px;
  overflow: hidden;
  text-indent: -999em;
  text-align: left;
  background: url('https://www.algofi.fr/assets/templates/meridian/images/btn-print.png') no-repeat 0 0;
}

.print {
  -webkit-background-size: 106px auto;
  -moz-background-size: 106px auto;
  background-size: 106px auto;
}

  .print:hover,
  .print:focus {
    background-position: 100% 0;
  }

.collapse-inner {
  padding-top: 75px;
}

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   aside_metiers                                <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.aside_metiers {
  margin: 0 -15px;
}

  .aside_metiers .inner {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .aside_metiers .migx_metier {
    display: table-cell;
    width: 20%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    background-clip: padding-box;
  }

.migx_metier {
  position: relative;
  padding: 15px 10px 70px;
  text-align: center;
  background: #fff;
}

  .migx_metier .illustration {
    position: relative;
    margin: -15px -10px 35px;
    padding-top: 100%;
    background: #f4f4f4 url('https://www.algofi.fr/assets/templates/meridian/images/cross-bg.png');
  }

    .migx_metier .illustration img {
      display: block;
      padding: 20px;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }

    .migx_metier .illustration .off,
    .migx_metier .illustration .on {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .migx_metier .illustration .on {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      filter: alpha(opacity=0);
    }

  .migx_metier .title {
    position: relative;
    top: auto;
    margin: 0 0 1.5em;
    padding-bottom: 1.5em;
    min-height: 3.5em;
    font: bold 18px/1.1 'BrandonText', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: inherit;
  }

    .migx_metier .title:after {
      position: absolute;
      left: 50%;
      bottom: -1px;
      margin-left: -40px;
      width: 80px;
      height: 1px;
      content: "";
      background: #b6222a;
    }

  .migx_metier .content ul > li {
    padding-left: 0;
  }

    .migx_metier .content ul > li:before {
      content: none;
    }

  .migx_metier .button {
    position: absolute;
    left: 15px;
    bottom: 15px;
    right: 15px;
    margin: 0;
  }

  .migx_metier .btn {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .migx_metier:hover .illustration,
  .migx_metier.hover .illustration,
  .migx_metier.focus .illustration {
    background: #b6222a;
  }

  .migx_metier:hover .btn,
  .migx_metier.hover .btn,
  .migx_metier.focus .btn {
    color: #fff !important;
    background: #b6222a;
  }

  .migx_metier:hover .illustration .off,
  .migx_metier.hover .illustration .off,
  .migx_metier.focus .illustration .off {
    display: none;
  }

  .migx_metier:hover .illustration .on,
  .migx_metier.hover .illustration .on,
  .migx_metier.focus .illustration .on {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: none;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   interventions                                <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.interventions {
  margin: 2.5em auto;
  text-align: center;
}

  .interventions:first-child {
    margin-top: 0;
  }

  .interventions:last-child {
    margin-bottom: 0;
  }

  .interventions > li {
    display: table-cell;
    padding: 12px 15px 13px;
    width: 1%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    color: #08426a;
    background: #fff;
    background-clip: padding-box;
  }

    .interventions > li:before {
      content: none;
    }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   aside_direction                              <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.aside_direction {
  padding: 0 140px;
}

  .aside_direction .row > .col + .col {
    margin-top: 210px;
  }

.migx_direction + .migx_direction {
  margin-top: 120px;
}

.migx_direction .illustration {
  position: relative;
  margin-bottom: 35px;
  text-align: center;
}

  .migx_direction .illustration img {
    width: 200px;
  }

  .migx_direction .illustration img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .migx_direction .illustration .social {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 70px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    text-indent: -999em;
    background: url('https://www.algofi.fr/assets/templates/meridian/images/btn-social.png') no-repeat 0 0;
  }

  .migx_direction .illustration .social {
    -webkit-background-size: 128px auto;
    -moz-background-size: 128px auto;
    background-size: 128px auto;
  }

    .migx_direction .illustration .social:hover,
    .migx_direction .illustration .social:focus {
      background-position-x: 100%;
    }

    .migx_direction .illustration .social.linkedin {
      background-position-y: 0;
    }

.migx_direction .title {
  margin-bottom: 35px;
  text-align: center;
}

  .migx_direction .title:after {
    display: block;
    margin: 20px auto 0;
    width: 80px;
    height: 1px;
    content: "";
    background: #b6222a;
  }

  .migx_direction .title h2 {
    top: auto;
    margin: 0;
    font: bold 18px/1.2 'BrandonText', sans-serif;
    font-size: 1.8rem;
    color: inherit;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   temoignages                                  <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

#id48 .aside_metiers,
#id68 .aside_metiers,
#id180 .aside_metiers,
#id267 .aside_metiers,
#id276 .aside_metiers,
#id189 .aside_metiers {
  margin: -15px;
}

  #id48 .aside_metiers .inner,
  #id68 .aside_metiers .inner,
  #id180 .aside_metiers .inner,
  #id267 .aside_metiers .inner,
  #id276 .aside_metiers .inner,
  #id189 .aside_metiers .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #id48 .aside_metiers .migx_metier,
  #id68 .aside_metiers .migx_metier,
  #id180 .aside_metiers .migx_metier,
  #id267 .aside_metiers .migx_metier,
  #id276 .aside_metiers .migx_metier,
  #id189 .aside_metiers .migx_metier {
    display: block;
    border: 15px solid transparent;
    max-width: 25%;
    width: auto;
    flex: 0 0 25%;
  }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   candidature spontanée                        <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */

.template1 #postuler {
  display: block;
}

  .template1 #postuler .references {
    display: none;
  }

  .template1 #postuler .form-actions {
    margin-top: 45px;
  }

    .template1 #postuler .form-actions .btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 250px;
    }

      .template1 #postuler .form-actions .btn.back {
        display: none;
      }

/* ------------------------------------------------------------------------- */
/* >>>>>>>>>>>>>   media queries                                <<<<<<<<<<<< */
/* ------------------------------------------------------------------------- */


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina XS SM MD LG */
@media only screen and (min-width : 321px) {
}

/* Extra Small Devices, Phones XS SM MD LG */
@media only screen and (min-width : 481px) {
}

/* Small Devices, Tablets SM MD LG */
@media only screen and (min-width : 768px) {
  .wrapper.wrapper-slider .migx_slide {
    height: auto !important;
  }
}

/* Medium Devices, Desktops  MD LG */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens LG */
@media only screen and (min-width : 1200px) {
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens XS SM MD */
@media only screen and (max-width : 1199px) {
  .wrapper.wrapper-slider .migx_slide .container {
    padding-left: 70px;
    padding-right: 0;
  }

  .wrapper.wrapper-slider .bx-pager {
    margin-left: 0;
  }

  .aside_icones .content {
    margin-left: -40px;
    margin-right: -40px;
  }

  .migx_icone {
    margin-left: 40px;
    margin-right: 40px;
  }

  .migx_metier .title {
    font-size: 14px;
    font-size: 1.4rem;
  }

  .aside_direction {
    padding: 0 100px;
  }

  #navbar > .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
  }

  #navbar > .dropdown-lang button {
    font-size: 11px;
  }
}

/* Medium Devices, Desktops XS SM */
@media only screen and (max-width : 991px) {
  #header .brand {
    padding-right: 10px;
  }

  #navbar > .navbar-nav {
    margin-right: 5px;
  }

    #navbar > .navbar-nav > li > a {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 10px;
    }

  #navbar > .dropdown-lang button {
    font-size: 10px;
  }

  #footer .contact {
    margin-bottom: 30px;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

    #footer .contact ul {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }

  #footer .brand {
    display: inline-block;
    margin: 0 30px 0 0;
    vertical-align: middle;
  }

  .wrapper {
    padding: 50px 0;
  }

    .wrapper.wrapper-partenaires .migx_partenaire {
      width: 33.3333%;
    }

  .aside_icones .content {
    margin-left: -15px;
    margin-right: -15px;
  }

  .migx_icone {
    margin-left: 15px;
    margin-right: 15px;
  }

  .search-filter .control-label {
    float: none;
    margin: 0 0 5px;
  }

  .template10 .wrapper-article .markdown h3 {
    margin-top: 3em;
  }

  .interventions > li {
    display: inline-block;
    margin: 5px 0;
    width: auto;
  }

  .aside_direction {
    padding: 0 60px;
  }

  .aside_metiers {
    margin-left: -5px;
    margin-right: -5px;
  }

    .aside_metiers .migx_metier {
      border-left-width: 5px;
      border-right-width: 5px;
    }

  .migx_metier {
    padding-bottom: 55px;
  }

    .migx_metier .title {
      font-size: 12px;
      font-size: 1.2rem;
    }

    .migx_metier .content ul {
      font-size: 13px;
      font-size: 1.3rem;
    }

    .migx_metier .button {
      left: 0;
      bottom: 0;
      right: 0;
    }

  .migx_offre {
    padding-left: 20px;
    padding-right: 51px;
  }

    .migx_offre .overlay:before {
      right: 20px;
    }

  .criteres > li {
    margin-right: 15px;
  }

  .references > li {
    margin-right: 15px;
  }

  .markdown h4 + hr + p {
    margin-left: -5px;
    margin-right: -5px;
  }

    .markdown h4 + hr + p em {
      padding: 10px;
      border-width: 5px;
      flex: 0 0 25%;
      max-width: 25%;
    }
}

/* Small Devices, Tablets XS */
@media only screen and (max-width : 767px) {
  h2 {
    font-size: 30px;
    font-size: 3rem;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .navbar-toggle {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 10px;
    margin: 0;
    padding: 25px;
    border: 0;
  }

  .navbar-toggle-icon {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 6h22M4 15h22M4 24h22'/%3E%3C/svg%3E");
  }

  .btn-side {
    display: none;
  }

  .hgroup {
    margin: 50px 0 30px;
  }

    .hgroup .title {
      font-size: 30px;
      font-size: 3rem;
    }

  #header .container {
    display: block;
  }

    #header .container > div {
      display: block;
    }

  #header .brand {
    float: left;
  }

  #nav {
    margin: 0 -25px;
    clear: both;
  }

  #navbar > .nav {
    display: block;
  }

  #navbar > .navbar-nav {
    margin: 0;
  }

    #navbar > .navbar-nav > li {
      display: block;
    }

      #navbar > .navbar-nav > li > a {
        display: block;
        padding: 10px 15px 12px;
        height: auto;
        font-size: 14px;
        font-size: 1.4rem;
        text-align: center;
      }

      #navbar > .navbar-nav > li > .navbar-collapse > .nav {
        display: block;
        position: static;
        margin: 0;
        width: auto;
      }

        #navbar > .navbar-nav > li > .navbar-collapse > .nav > li > a {
          font-size: 14px;
          font-size: 1.4rem;
        }

      #navbar > .navbar-nav > li > .navbar-toggle {
        top: 0;
        padding: 0;
        width: 50px;
        height: 42px;
      }

        #navbar > .navbar-nav > li > .navbar-toggle .navbar-toggle-icon {
          display: inline-block;
          width: 11px;
          height: 19px;
          font-size: 19px;
          background: url('https://www.algofi.fr/assets/templates/meridian/images/icon-arrow.png') no-repeat 100% -4em;
        }

        #navbar > .navbar-nav > li > .navbar-toggle .navbar-toggle-icon {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          transform: rotate(-90deg);
          -webkit-background-size: 22px auto;
          -moz-background-size: 22px auto;
          background-size: 22px auto;
        }

        #navbar > .navbar-nav > li > .navbar-toggle.collapsed .navbar-toggle-icon {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg);
        }

      #navbar > .navbar-nav > li.active > .navbar-toggle .navbar-toggle-icon {
        background-position-y: -3em;
      }

  #navbar > .navbar-lang {
    margin: 10px 0 10px;
    text-align: center;
  }

  #footer .sitemap .row > .col ~ .col ~ .col {
    margin-top: 20px;
  }

  .wrapper {
    padding: 30px 0;
  }

    .wrapper.wrapper-intro .aside_icones {
      margin-bottom: 20px;
    }

    .wrapper.wrapper-slider .bx-pager {
      left: 0;
      top: auto;
      right: 0;
      bottom: 30px;
      text-align: center;
    }

    .wrapper.wrapper-slider .bx-pager {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .wrapper.wrapper-slider .bx-pager-item {
      display: inline-block;
    }

      .wrapper.wrapper-slider .bx-pager-item + .bx-pager-item {
        margin: 0 0 0 15px;
      }

    .wrapper.wrapper-slider .migx_slide .container {
      padding-top: 30px;
      padding-bottom: 92px;
    }

    .wrapper.wrapper-slider .migx_slide .row > .col + .col {
      margin-top: 10px;
    }

    .wrapper.wrapper-slider .migx_slide .title {
      font-size: 30px;
      font-size: 3rem;
    }

    .wrapper.wrapper-slider .migx_slide .text p,
    .wrapper.wrapper-slider .migx_slide .text ul {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.7;
    }

    .wrapper.wrapper-article > .container > .row > .col + .col {
      margin-top: 35px;
      padding-top: 30px;
      border-top: 1px solid #d4d4d4;
    }

    .wrapper.wrapper-slider .diaporama-slider {
    }

    .wrapper.wrapper-slider .migx_slide {
    }

      .wrapper.wrapper-slider .migx_slide .container {
        padding-left: 25px;
        padding-right: 25px;
        height: 100%;
      }

  .aside_icones .content {
    margin: 0 auto;
    max-width: 380px;
  }

  .wrapper.wrapper-intro .mea > .row > .col + .col {
    margin-top: 30px;
  }

  .search-filter {
    display: block;
    width: auto;
  }

    .search-filter .filter {
      display: block;
      width: auto;
    }

    .search-filter .form-group {
      margin-bottom: 5px;
    }

    .search-filter .form-actions {
      display: block;
      margin-top: 20px;
      padding: 0;
      width: auto;
      text-align: right;
    }

  .template10 .wrapper-article .markdown {
    margin-bottom: 35px;
  }

  .template10 .wrapper-article .print {
    margin-left: 15px;
  }

  .aside_metiers .inner {
    display: flex;
    margin: -10px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .aside_metiers .migx_metier {
    margin: 10px;
    border: 0;
    width: 160px;
  }

  #id48 .aside_metiers .migx_metier,
  #id68 .aside_metiers .migx_metier,
  #id180 .aside_metiers .migx_metier,
  #id267 .aside_metiers .migx_metier,
  #id276 .aside_metiers .migx_metier,
  #id189 .aside_metiers .migx_metier {
    border: 0;
    max-width: none;
    flex: 0 0 160px;
  }

  .aside_direction {
    padding: 0;
  }

    .aside_direction .row > .col + .col {
      margin-top: 35px;
    }

  .migx_direction + .migx_direction {
    margin-top: 35px;
  }

  .search-filter {
    margin-bottom: 30px;
  }

  .results-filter {
    margin-left: -25px;
    margin-right: -25px;
  }

  .markdown p img {
    display: block;
    float: none;
    margin: 15px 0;
  }

  #id49 .markdown p img {
    margin-top: 40px;
  }

  .markdown h4 + hr + p {
    margin-left: -5px;
    margin-right: -5px;
  }

    .markdown h4 + hr + p em {
      padding: 10px;
      border-width: 5px;
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
}

/* Extra Small Devices, Phones XS */
@media only screen and (max-width : 480px) {
  h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .hgroup {
    overflow: visible;
  }

    .hgroup .title {
      display: block;
      padding: 0 15px;
      font-size: 24px;
      font-size: 2.4rem;
    }

      .hgroup .title:before {
        margin-right: 0;
      }

      .hgroup .title:after {
        margin-left: 0;
      }

  #footer .brand {
    display: block;
    margin: 0 0 20px;
  }

  #footer .sitemap .row > .col {
    width: 100%;
  }

    #footer .sitemap .row > .col ~ .col {
      margin-top: 20px;
    }

  .wrapper.wrapper-slider .migx_slide .title {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .wrapper.wrapper-bandeau .title {
    font-size: 40px;
  }

  .wrapper.wrapper-partenaires .migx_partenaire {
    width: 50%;
  }

  .aside_icones .content {
    max-width: 260px;
  }

  .migx_icone {
    width: 100px;
  }

    .migx_icone .title {
      font-size: 30px;
      font-size: 3rem;
    }

    .migx_icone p {
      font-size: 14px;
      font-size: 1.4rem;
    }

  .wrapper.wrapper-intro .aside_mea .text p {
    font-size: 20px;
    font-size: 2rem;
  }

  .criteres > li {
    margin-right: 0;
    min-width: 50%;
  }

  .interventions > li {
    display: block;
    border: 0;
  }

  .aside_metiers .inner {
    margin: -10px -5px;
  }

  .aside_metiers .migx_metier {
    margin: 10px 5px;
    width: 135px;
  }

  .migx_metier {
    padding-left: 5px;
    padding-right: 5px;
  }

    .migx_metier .illustration {
      margin-left: -5px;
      margin-right: -5px;
    }

  .markdown h4 + hr + p em {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Custom, iPhone Retina XS */
@media only screen and (max-width : 320px) {
}

/* ------------------------------------------------------------------------ */
/* >>>>>>>>>>>>>   fonts                                               <<<< */
/* ------------------------------------------------------------------------ */

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-regular-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-regular-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-regular-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-regular-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-italic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-italic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-italic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-italic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bold-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bold-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bold-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bold-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bolditalic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bolditalic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bolditalic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-light-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-light-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-light-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-light-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-lightitalic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-lightitalic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-lightitalic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibold-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibold-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibold-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibold-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibolditalic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibolditalic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibolditalic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regular-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regular-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regular-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regular-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regular-webfont.svg#brandon_text_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regularitalic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regularitalic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regularitalic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regularitalic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-regularitalic-webfont.svg#brandon_textregular_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bold-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bold-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bold-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bold-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bold-webfont.svg#brandon_textbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bolditalic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bolditalic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bolditalic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bolditalic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-bolditalic-webfont.svg#brandon_textbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-light-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-light-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-light-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-light-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-light-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-light-webfont.svg#brandon_textlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-lightitalic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-lightitalic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-lightitalic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-lightitalic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-lightitalic-webfont.svg#brandon_textlight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-medium-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-medium-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-medium-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-medium-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-medium-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-medium-webfont.svg#brandon_textmedium') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonText';
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-mediumitalic-webfont.eot');
  src: url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-mediumitalic-webfont.woff2') format('woff2'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-mediumitalic-webfont.woff') format('woff'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-mediumitalic-webfont.ttf') format('truetype'), url('https://www.algofi.fr/assets/templates/meridian/fonts/brandontext-mediumitalic-webfont.svg#brandon_textmedium_italic') format('svg');
  font-weight: 600;
  font-style: italic;
}
