<div id="header">
  <div class="container">
    <div class="brand">
      <h1 class="brand-logo"><a href="https://www.algofi.fr/">Algofi</a></h1>
      <p class="brand-slogan">Expert IT &amp; Finance</p>
    </div><!-- .brand -->

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggle-icon"></span>
    </button>

    <div id="nav">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item first" id="item44">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav44"><span class="navbar-toggle-icon"></span></button>
            <a href="https://www.algofi.fr/la-societe/" class="nav-link">La société</a>
            <div class="navbar-collapse collapse" id="nav44"><ul class="nav navbar-nav"><li class="nav-item first" id="item50"><a href="https://www.algofi.fr/la-societe/la-direction.html" class="nav-link">La Direction</a></li><li class="nav-item " id="item49"><a href="https://www.algofi.fr/la-societe/qui-sommes-nous.html" class="nav-link">Qui sommes-nous ?</a></li><li class="nav-item " id="item51"><a href="https://www.algofi.fr/la-societe/nos-valeurs.html" class="nav-link">Nos valeurs</a></li><li class="nav-item " id="item52"><a href="https://www.algofi.fr/la-societe/chiffres-cles.html" class="nav-link">Chiffres clés</a></li><li class="nav-item " id="item53"><a href="https://www.algofi.fr/la-societe/rse.html" class="nav-link">RSE</a></li><li class="nav-item " id="item54"><a href="https://www.algofi.fr/la-societe/nos-references-clients.html" class="nav-link">Nos références clients</a></li><li class="nav-item last" id="item55"><a href="https://www.algofi.fr/la-societe/algofi-italie.html" class="nav-link">Algofi Italie</a></li></ul></div>
          </li>
          <li class="nav-item " id="item45">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav45"><span class="navbar-toggle-icon"></span></button>
            <a href="https://www.algofi.fr/nos-metiers/" class="nav-link">Nos métiers</a>
            <div class="navbar-collapse collapse" id="nav45"><ul class="nav navbar-nav"><li class="nav-item first" id="item56"><a href="https://www.algofi.fr/nos-metiers/systemes-dinformation.html" class="nav-link">Systèmes d'information</a></li><li class="nav-item " id="item57"><a href="https://www.algofi.fr/nos-metiers/finance-risques-et-reglementations-bancaires.html" class="nav-link">Finance, Risques et Réglementations Bancaires</a></li><li class="nav-item " id="item58"><a href="https://www.algofi.fr/nos-metiers/ingenierie-financiere.html" class="nav-link">Ingénierie financière</a></li><li class="nav-item " id="item59"><a href="https://www.algofi.fr/nos-metiers/progiciels.html" class="nav-link">Progiciels</a></li><li class="nav-item " id="item60"><a href="https://www.algofi.fr/nos-metiers/offre-operationnels-metier.html" class="nav-link">Opérationnels Métier</a></li><li class="nav-item last" id="item61"><a href="https://www.algofi.fr/nos-metiers/nos-realisations.html" class="nav-link">Nos réalisations</a></li></ul></div>
          </li>
          <li class="nav-item " id="item46"><a href="https://www.algofi.fr/nos-partenaires.html" class="nav-link">Nos partenaires</a></li>
          <li class="nav-item " id="item47">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav47"><span class="navbar-toggle-icon"></span></button>
            <a href="https://www.algofi.fr/carrieres/" class="nav-link">Carrières</a>
            <div class="navbar-collapse collapse" id="nav47"><ul class="nav navbar-nav"><li class="nav-item first" id="item69"><a href="https://www.algofi.fr/carrieres/offres/" class="nav-link">Offres de postes</a></li><li class="nav-item " id="item62"><a href="https://www.algofi.fr/carrieres/processus-de-recrutement.html" class="nav-link">Processus de recrutement</a></li><li class="nav-item " id="item64"><a href="https://www.algofi.fr/carrieres/la-vie-chez-algofi.html" class="nav-link">La vie chez Algofi</a></li><li class="nav-item " id="item66"><a href="https://www.algofi.fr/carrieres/profils-recherches/" class="nav-link">Profils recherchés</a></li><li class="nav-item " id="item67"><a href="https://www.algofi.fr/carrieres/candidature-spontanee.html" class="nav-link">Candidature spontanée</a></li><li class="nav-item last" id="item68"><a href="https://www.algofi.fr/carrieres/temoignages/" class="nav-link">Témoignages</a></li></ul></div>
          </li>
          <li class="nav-item " id="item48">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav48"><span class="navbar-toggle-icon"></span></button>
            <a href="https://www.algofi.fr/communication/" class="nav-link">Communication</a>
            <div class="navbar-collapse collapse" id="nav48"><ul class="nav navbar-nav"><li class="nav-item first" id="item336"><a href="https://www.algofi.fr/communication/bale-iv-une-simple-finalisation-des-accords-de-bale-iii.html" class="nav-link">Bâle IV, une simple finalisation des accords de Bâle III ?</a></li><li class="nav-item " id="item342"><a href="https://www.algofi.fr/communication/gestion-des-branches-dans-la-gestion-du-code-source.html" class="nav-link">Les branches - Gestion du code source</a></li><li class="nav-item " id="item343"><a href="https://www.algofi.fr/communication/ces-nouvelles-technologies-it-bientot-chez-nos-clients.html" class="nav-link">Ces nouvelles technologies IT bientôt chez nos clients</a></li><li class="nav-item " id="item347"><a href="https://www.algofi.fr/communication/les-test-logiciels.html" class="nav-link">N'oubliez pas les tests dans vos projets !</a></li><li class="nav-item " id="item368"><a href="https://www.algofi.fr/communication/configuration-proprietes-application.html" class="nav-link">Configuration et paramétrage d'une application</a></li><li class="nav-item " id="item337"><a href="https://www.algofi.fr/communication/les-bases-de-donnees-sql.html" class="nav-link">Les bases de données SQL</a></li><li class="nav-item " id="item330"><a href="https://www.algofi.fr/communication/le-versionnage-des-logiciels.html" class="nav-link">Le Versionnage des Logiciels</a></li><li class="nav-item " id="item334"><a href="https://www.algofi.fr/communication/les-logiciels-open-source.html" class="nav-link">Les Logiciels Open Source</a></li><li class="nav-item " id="item84"><a href="https://www.algofi.fr/communication/nouvelle-filiale-algofi-a-milan.html" class="nav-link">Nouvelle filiale ALGOFI à Milan</a></li><li class="nav-item " id="item118"><a href="https://www.algofi.fr/communication/partenariat-avec-simcorp-une-reussite-incontestable.html" class="nav-link">Partenariat avec SIMCORP&nbsp;: une réussite incontestable</a></li><li class="nav-item " id="item117"><a href="https://www.algofi.fr/communication/fusion-de-algofi-et-de-teknys-consulting.html" class="nav-link">Fusion de ALGOFI et de TEKNYS CONSULTING</a></li><li class="nav-item last" id="item85"><a href="https://www.algofi.fr/communication/algofi-choisit-veryswing-comme-fournisseur-erp.html" class="nav-link">Algofi choisit VerySwing comme fournisseur ERP</a></li></ul></div>
          </li>
          <li class="nav-item last" id="item116"><a href="https://www.algofi.fr/contact.html" class="nav-link">Contact</a></li>
        </ul>
      </div><!-- #navbar -->
    </div><!-- #nav -->
  </div><!-- .container -->
</div>
