body {
  background-color: #ececec;
}



.content {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  padding: 0;
}

.left {
  display: table-cell;
  color: #fff;
  vertical-align: middle;
  max-width: 120px;
  margin: 0;
  padding: 0;
  background-repeat:no-repeat;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSaDzuYBiXdyJ4c3-mTqVgAI03FnURJ4CX8Nb_3YC6QTlErcHhv'); background-size: 100%;
}

.right {
  display: table-cell;
  color: #000;
  vertical-align: middle;
  max-width: 480px;
  padding: 0 10px;
}


hr {
  background: rgb(25,171,214);
  background: -webkit-linear-gradient(left, rgba(25,171,214,1) 35%, rgba(30,200,252,1) 100%);
  background: -moz-linear-gradient(left, rgba(25,171,214,1) 35%, rgba(30,200,252,1) 100%);
  background: linear-gradient(to right, rgba(25,171,214,1) 35%, rgba(30,200,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19abd6', endColorstr='#1ec8fc',GradientType=1 );
  width: 160px;
  height: 2px;
  border: 0;
  padding: 0;
  color: #19abd6;
  text-align: center;
  margin-bottom: 50px;
}

.content img {
  margin-right: 15px;
  float: left;
}

.content h3,
.content p {
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
}


.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

  .container p {
    margin: .5em;
  }

.container p:first-of-type {
  margin-left: 1em;
}

.container p:last-of-type {
  margin-right: 1em;
}
