<body>
  <div id="page-wrapper">
    <section id="partie-deux">
      <h1>Formations à venir</h1>
      <hr align="left" />
      <div class="content">
        <div class="left">
        </div>
        <div class="right">
          <h3>Title</h3>
          <div class="container">
            <p style="color:#C1272D">30/01</p>
            <p style="color:#C1272D">Cash Management</p>
            <p style="color:#C1272D">Débutant</p>
          </div>
          <div>
            <p>Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
          </div>
          <div class="container">
            <p>Durée: 30min</p>
            <p style="color:#C1272D">En savoir plus</p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>

    
    <section id="partie-trois">
      <h1>Formations passées</h1>
      <hr align="left" />
      <div class="content">
        <div class="left">
        </div>
        <div class="right">
          <h3>Title</h3>
          <div class="container">
            <p style="color:#C1272D">30/01</p>
            <p style="color:#C1272D">Cash Management</p>
            <p style="color:#C1272D">Débutant</p>
          </div>
          <div>
            <p>Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
          </div>
          <div class="container">
            <p>Durée: 30min</p>
            <p style="color:#C1272D">En savoir plus</p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>
  </div>
</body>

